# ══ Données (trop volumineuses, à retélécharger localement) ══
data/
*.csv

# ══ Python ══
__pycache__/
*.py[cod]
*.pyc
.ipynb_checkpoints/

# ══ Environnements virtuels ══
venv/
.venv/
env/

# ══ VS Code ══
.vscode/

# ══ Spark (fichiers temporaires) ══
spark-warehouse/
metastore_db/
derby.log
*.log

# ══ OS ══
Thumbs.db
.DS_Store

# ══ Secrets ══
.env
*.pem
*.key